<template>
  <div class="merge">
    <div class="merge__heading-container">
      <div class="merge__heading merge__heading-left">
        <slot name="left"></slot>
      </div>
      <div class="merge__heading merge__heading-right">
        <slot name="right"></slot>
      </div>
      <div
        v-if="!viewMode"
        class="merge__heading-buttons-placeholder merge__container-buttons"
      ></div>
    </div>
    <div class="merge__container-wrapper">
      <div class="merge__container merge__container-left">
        <slot v-if="hidePrevContent" name="before-prev"></slot>
        <iframe
          v-show="!hidePrevContent"
          ref="prevContent"
          class="merge__document-content merge__document-content-prev"
        ></iframe>
      </div>
      <div class="merge__container merge__container-right">
        <slot v-if="hideNewContent" name="before-new"></slot>
        <iframe
          v-show="!hideNewContent"
          ref="newContent"
          class="merge__document-content merge__document-content-new"
        ></iframe>
      </div>
      <div v-if="!viewMode" class="merge__container merge__container-buttons">
        <div
          v-for="(height, index) in buttonLocations"
          :key="index"
          class="merge__button-row"
          :style="{ top: height + 'px' }"
        >
          <MergeButton
            v-if="decisions[index] !== REJECT"
            type="accept"
            :highlight="decisions[index] === null"
            @click="onAccept(index)"
          ></MergeButton>
          <MergeButton
            v-if="decisions[index] !== ACCEPT"
            type="reject"
            :highlight="decisions[index] === null"
            @click="onReject(index)"
          ></MergeButton>
          <MergeButton
            v-if="decisions[index] !== null"
            type="revert"
            @click="onRevert(index)"
          ></MergeButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MergeButton from "./MergeButton";

const ACCEPT = "accept",
  REJECT = "reject",
  REVERT = "revert";

const iframeStyles = `
  ins,del,repl{
    display: block;
  }

  ins{
    background-color: rgba(99, 184, 91, .17);
  }

  del{
    background-color: rgba(238, 66, 34, .17);
  }

  body{
  /*margin: 0;*/
  /*padding: 0;*/
  background-color: #fff;
  }
  `;
const iframeStylesPrev = `
  repl{
    background-color: rgba(238, 66, 34, .17);
  }
`;
const iframeStylesNew = `
  repl{
    background-color: rgba(99, 184, 91, .17);
  }
`;

function sliceBody(content) {
  const regex = /^(.*<\s*body[^>]*>)(.*?)(<\s*\/\s*body\s*>.*)$/is;
  const [, grpBefore, grpContent, grpAfter] = regex.exec(content) || [];
  if (grpBefore && grpContent && grpAfter) {
    return {
      before: grpBefore,
      content: grpContent,
      after: grpAfter
    };
  }
  return {
    before: "",
    content,
    after: ""
  };
}

export default {
  name: "HtmlMerge",
  components: { MergeButton },
  props: {
    prevContent: {
      type: String,
      required: true
    },
    newContent: {
      type: String,
      required: true
    },
    viewMode: {
      type: Boolean,
      default: false
    },
    hideNewContent: {
      type: Boolean,
      default: false
    },
    hidePrevContent: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      prevDocumentEl: null,
      prevDocumentBeforeBody: "",
      prevDocumentBody: "",
      prevDocumentAfterBody: "",
      prevElements: [],

      newDocumentEl: null,
      newDocumentBeforeBody: "",
      newDocumentBody: "",
      newDocumentAfterBody: "",
      newElements: [],

      buttonLocations: [],
      decisions: [],

      ACCEPT,
      REJECT,
      REVERT
    };
  },
  watch: {
    prevContent: {
      handler: function(newVal) {
        let sliced = sliceBody(newVal);
        this.prevDocumentBeforeBody = sliced.before;
        this.prevDocumentAfterBody = sliced.after;
        this.prevDocumentBody = sliced.content;

        if (!this.newDocumentEl) return;

        // if (!this.viewMode) {
        this.handleContentChange();
        // }
        this.prevDocumentEl.body.innerHTML = this.prevDocumentBody;
        this.applyStyles(this.prevDocumentEl, iframeStylesPrev);

        this.updateIframeHeight(this.$refs.prevContent);
      },
      immediate: true
    },
    newContent: {
      handler: function(newVal) {
        let sliced = sliceBody(newVal);
        this.newDocumentBeforeBody = sliced.before;
        this.newDocumentAfterBody = sliced.after;
        this.newDocumentBody = sliced.content;

        if (!this.newDocumentEl) return;

        // if (!this.viewMode) {
        this.handleContentChange();
        // }

        this.newDocumentEl.body.innerHTML = this.newDocumentBody;
        this.applyStyles(this.newDocumentEl, iframeStylesNew);

        this.updateIframeHeight(this.$refs.newContent);
      },
      immediate: true
    }
  },
  mounted() {
    this.prevDocumentEl = this.$refs.prevContent.contentDocument;
    this.newDocumentEl = this.$refs.newContent.contentDocument;

    // if (!this.viewMode) {
    this.applyStyles(this.prevDocumentEl, iframeStylesPrev);
    this.applyStyles(this.newDocumentEl, iframeStylesNew);
    // }
    this.prevDocumentEl.body.innerHTML = this.prevDocumentBody;
    this.newDocumentEl.body.innerHTML = this.newDocumentBody;

    if (!this.viewMode) {
      this.$emit("change", this.getResultingContent());

      this.setEventListeners();
    }

    this.$nextTick(this.updateElementsHeight);

    this.updateIframeHeight(this.$refs.prevContent);
    this.updateIframeHeight(this.$refs.newContent);
  },
  methods: {
    applyStyles(document, additionalStyle = "") {
      const styleEl = document.createElement("style");
      styleEl.innerText = iframeStyles + additionalStyle;
      document.head.appendChild(styleEl);
    },
    handleContentChange() {
      this.$nextTick(this.updateElementsHeight);
      this.decisions = [];
    },

    updateIframeHeight(iframe, now = false) {
      if (!iframe) return;
      // console.log("updateIframeHeight", iframe, now);
      if (!now) {
        this.$nextTick(() => {
          // console.log("updateIframeHeight delayed ", iframe, now);
          this.updateIframeHeight(iframe, true);
        });
      }
      iframe.style.height = "auto";
      const height = iframe.contentDocument.body.scrollHeight;
      iframe.style.height = height + "px";
    },

    updateElementsHeight() {
      const prevEls = this.prevDocumentEl.body.querySelectorAll("ins,del,repl");
      const newEls = this.newDocumentEl.body.querySelectorAll("ins,del,repl");

      if (prevEls.length !== newEls.length) {
        console.error("size mismatch", { prevEls, newEls });
        return;
      }

      this.prevElements = Array.from(prevEls);
      this.newElements = Array.from(newEls);

      // this.buttonLocations = [];
      const newButtonLocations = [];

      if (!this.decisions.length) {
        this.decisions = [];
        this.decisions.length = prevEls.length;
        this.decisions.fill(null);
      }

      prevEls.forEach((e, i) => {
        const prevEl = e;
        const newEl = newEls[i];

        prevEl.style.height = "auto";
        newEl.style.height = "auto";

        const prevElRect = prevEl.getBoundingClientRect();
        const newElRect = newEl.getBoundingClientRect();

        const compHeightPrev = parseFloat(
          window.getComputedStyle(prevEl).height
        );
        const compHeightNew = parseFloat(window.getComputedStyle(newEl).height);
        const heightToSet = Math.max(
          prevElRect.height,
          newElRect.height,
          compHeightPrev,
          compHeightNew,
          42 + 7 // button height + margin
        );
        newButtonLocations.push(prevElRect.top);
        // console.log("setting height ", heightToSet, {
        //   prevElRect,
        //   newElRect,
        //   prevEl,
        //   newEl
        // });
        prevEl.style.height = heightToSet + "px";
        newEl.style.height = heightToSet + "px";
      });

      this.buttonLocations = newButtonLocations;

      // this.$refs.prevContent.style.height =
      //   this.prevDocumentEl.body.getBoundingClientRect().height + "px";
      // this.$refs.newContent.style.height =
      //   this.newDocumentEl.body.getBoundingClientRect().height + "px";
    },

    setEventListeners() {
      const prevEls = this.prevDocumentEl.body.querySelectorAll("img");
      const newEls = this.newDocumentEl.body.querySelectorAll("img");
      const allElsArray = [...Array.from(prevEls), ...Array.from(newEls)];
      ["load", "error"].forEach(eventName => {
        allElsArray.forEach(e => {
          e.addEventListener(eventName, () => {
            this.updateElementsHeight();
          });
        });
      });
    },

    onReject(index) {
      if (this.decisions[index] === REJECT) return;

      this.$set(this.decisions, index, REJECT);

      this.newElements[index].backupValue = this.newElements[index].innerHTML;
      this.newElements[index].innerHTML = this.prevElements[index].innerHTML;

      this.emitChangeDone();
    },
    onAccept(index) {
      if (this.decisions[index] === ACCEPT) return;
      this.$set(this.decisions, index, ACCEPT);

      this.emitChangeDone();
    },
    onRevert(index) {
      if (this.decisions[index] === REJECT) {
        this.newElements[index].innerHTML = this.newElements[index].backupValue;
      }
      this.$set(this.decisions, index, null);

      this.emitChangeDone();
    },

    emitChangeDone() {
      const content = this.getResultingContent();
      this.$emit("change", content);
      this.$emit("done", !~this.decisions.indexOf(null));
    },

    getResultingContent() {
      return (
        this.newDocumentBeforeBody +
        this.newDocumentEl.body.innerHTML.replace(
          /<\s*\/?\s*(ins|del|repl)(\s+[^>]*)?\s*>/gi,
          ""
        ) +
        this.newDocumentAfterBody
      );
    }
  }
};
</script>

<style scoped lang="scss">
.merge {
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*width: 100%;*/

  &__heading-container,
  &__container-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  &__heading-left {
    margin-right: 5px;
  }

  &__container {
    flex: 1 1 200px;
    position: relative;
    /*margin: 50px;*/
    &-left {
      margin-right: 5px;
    }

    &-buttons {
      position: relative;
      flex: 0 0 125px;
    }
  }

  &__document-content {
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &__heading {
    flex: 1 1 200px;
  }

  &__button-row {
    display: flex;
    position: absolute;
    margin: 0 17px;

    > *:first-child {
      margin-right: 7px;
    }
  }
}
</style>
