<template>
  <div class="merge-button" :class="mergeButtonClass" @click="$emit('click')">
    <svg
      v-if="type === 'accept'"
      width="20"
      height="14"
      viewBox="0 0 20 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.1 14L0 7.3l2-2 5.1 5L18 0l2 1.9L7.1 14z"
        fill="currentColor"
      />
    </svg>
    <svg
      v-else-if="type === 'reject'"
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2.1 17.5L17.5 2c.3-.3.1-.8-.3-1.3-.5-.4-1-.6-1.3-.3L.5 16c-.3.3-.1.8.3 1.3.5.4 1 .6 1.3.3z"
        fill="currentColor"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M17.5 15.9L2 .5C1.8.2 1.3.4.8.8c-.4.5-.6 1-.3 1.3L16 17.5c.3.3.8.1 1.3-.3.4-.5.6-1 .3-1.3z"
        fill="currentColor"
      />
    </svg>
    <svg
      v-else-if="type === 'revert'"
      width="16"
      height="18"
      viewBox="0 0 16 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.5 5a6.5 6.5 0 100 13H10v-2H6.5C4 16 2 14 2 11.5S4 7 6.5 7h5.7L9 10l1.4 1.5L16 6 10.5.5 9.1 1.9 12 5H6.6zM14 16h-2v2h2v-2z"
        fill="currentColor"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: "MergeButton",
  props: {
    type: {
      type: String,
      default: "accept"
    },
    highlight: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    mergeButtonClass() {
      // const cls = [];
      return [this.type + (this.highlight ? "-highlight" : "")];
    }
  }
};
</script>

<style scoped lang="scss">
$revertIconColor: #3f6a86;
$rejectIconColor: #ee4222;
$acceptIconColor: #63b85b;

.merge-button {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid transparent;
  box-sizing: content-box;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.25s ease-out;

  cursor: pointer;

  &.accept {
    border: 2px solid $acceptIconColor;
    background-color: transparent;
    color: $acceptIconColor;

    &-highlight {
      border: 2px solid $acceptIconColor;
      background-color: $acceptIconColor;
      color: #fff;
    }
  }

  &.reject {
    border: 2px solid $rejectIconColor;
    background-color: transparent;
    color: $rejectIconColor;

    &-highlight {
      border: 2px solid $rejectIconColor;
      background-color: $rejectIconColor;
      color: #fff;
    }
  }

  &.revert {
    border: 2px solid #dce5e8;
    background-color: #fff;
    color: $revertIconColor;

    &-highlight {
      border: 2px solid #dce5e8;
      background-color: #fff;
      color: $revertIconColor;
    }
  }
}
</style>
