<template>
  <div id="app">
    <label>ViewMode <input v-model="viewMode" type="checkbox"/></label>
    <HtmlMerge
      :new-content="prettyDiffData.new"
      :prev-content="prettyDiffData.prev"
      :view-mode="viewMode"
      @change="returnedValue = $event"
    >
      <template slot="left">
        left header
      </template>
      <template slot="right">
        right header
      </template>
    </HtmlMerge>
  </div>
</template>

<script>
import HtmlMerge from "./components/HtmlMerge";
import testData from "./sampleData/v2";

export default {
  name: "App",
  components: {
    HtmlMerge
  },
  data() {
    return {
      prettyDiffData: testData,
      returnedValue: "",
      viewMode: true
    };
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  background-color: #313131;
}
</style>
